body {
    background-color: white;
}
.form {
    background: #E1E3EC;
    position: relative;
    width: 40%;
    display: block;
    margin: auto;
}
.form h1 {
    background-color: #00A7EE;
    color: white;
    width: 100%;
    text-align: center;
}
.IniciarSesion {
    padding-bottom: 10px; 
    padding-left: 10px;
    padding-right: 10px;
}
.IniciarSesion input {
    display: inherit;
    margin-bottom: 4%;
    border: none;
    background: transparent;
    border-bottom: 3px solid black; 
    outline: none;
}
.IniciarSesion input:focus {
    transition: 0.2s;
    border-bottom: 3px solid #00A7EE; 
}
.IniciarSesion label {
  display: inherit;
  text-align: center;
  margin-bottom: 5px;
}
.input {
    border-top: none;
}
button {
    background-color: #00A7EE;
    display: flex;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    width:60px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
   
}
button:hover {
    background-color: #021755;
    transition: 0.5s;
    border: 3px solid black;
    color: white;
}